<div @ref="@ToolBar">
    @if (ToolbarContent != null)
    {
        @ToolbarContent
    }
    else
    {
        <span class="ql-formats">
            <select class="ql-font">
                <option selected=""></option>
                <option value="serif"></option>
                <option value="monospace"></option>
                <option value="tahoma">Tahoma</option>
            </select>
            <select class="ql-header">
                <option selected=""></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
        <span class="ql-formats">
            <button class="ql-link"></button>
            <div class="fileUpload-icon">
                <span><Icon Type="file-image" Theme="outline" /></span>
                <InputFile OnChange="InsertImageChange" class="upload"/>
            </div>
            @*<button type="button" @onclick="InsertImageChange"><i class="fa fa-image"></i></button>*@
        </span>
    }
</div>
<div @ref="@QuillElement">
    @EditorContent
</div>

@code{
}